/* Animations */

// HERO Down Arrow
@keyframes bounceDown {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translate(-50%, 2px);

    }

    40% {
        transform: translate(-50%, 8px);

    }

    60% {
        transform: translate(-50%, 10px);

    }

}

@keyframes arrowOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

// NAVBAR Links

@keyframes navLinks {
    0% {
        transform: rotateX(0) rotateY(0) translateY(-200px);
        opacity: 0;

    }

    90%{
            transform: rotateX(720deg) rotateY(720deg) translateY(70px);

    }


    90%, 100% {
        transform: rotateX(-360deg) rotateY(-360deg) translateY(0);
        opacity: 1;

    }

}

@keyframes logoAnimate {
    0% {
        transform: scale(1) translate(-250px, -250px);

        opacity: 0;
    }

    25%{
        transform: scale(0.8);

    }
    50% {
        transform: scale(1.5) translate(50px, 50px);

        opacity: 0.5;
    }

    75% {
                transform: scale(0.8);
    }
    100% {
        transform: scale(1) translate(0, 0);

        opacity: 1;
    }
}

// Scroll to Top
@keyframes scrollToTop {
    0% {
        transform: scale(0.7);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(0.7);
    }
}

@keyframes scrollTopAppear {
    0% {
        opacity: 0;
        transform: scale(0);
    }

                100% {
                    opacity: 1;
                    transform: scale(1);
                }

}