

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



a {
    text-decoration: none;
    color: #e2e2e2;
}




input::placeholder,
textarea::placeholder {
    font-family: var(--font-title);
    opacity: .4;
    color: #e2e2e2;
    text-transform: uppercase;
}


html {
    scroll-behavior: smooth;

    @include respond(desktop) {
        font-size: 80%;
    }

    @include respond(laptop) {
        font-size: 75%;
    }

    @include respond(tab-land) {
        font-size: 55%;
    }

    @include respond(tab-port) {
        font-size: 55%;
    }
}

p {
    font-size: 1.2rem;
    color: rgb(169, 166, 166);
    letter-spacing: 0.4px;
    font-weight: 300;

    @media (max-width: 540px) {
        font-size: 1.4rem !important;
    }
}

