:root {
    --body-font: "Nunito", Helvetica, Arial, sans-serif;
    --title-font: "Saira", Helvetica, Arial, sans-serif;
    --color-primary: #50BEC2;
    --color-dark-grey: rgba(255, 255, 255, 0.1);
    --color-yellow: #fedc79;

    // rgb(255, 209, 102)
// rgba(241, 186, 45, 0.8)

    --font-body: "Nunito", sans-serif;
    --font-title: 'Saira', sans-serif;

    --section-wrap-width: 1500px;
}