/*
0-600px: Phone
600-900px: Tablet Portrait Mode
900-1200px: Tablet Landscape Mode
1200-1800px: Normal styles
1800px+: Large TVs ETC
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
0-600px: Phone
600-900px: Tablet Portrait Mode
900-1200px: Tablet Landscape Mode
1200-1800px: Normal styles
1800px+: Large TVs ETC
*/
html {
  scroll-behavior: smooth;
}
@media only screen and (min-width: 1200px) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 60%;
  }
}
@media only screen and (max-width: 1068px) {
  html {
    font-size: 55%;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 55%;
  }
}