/* import main fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&family=Saira:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&display=swap"); /*
0-540px: Phone
541-768px: Tablet Portrait Mode
769-1068px: Tablet Landscape Mode
1069px-1200px: Laptop
1200px-1799px: Desktop
1800px+: Large TVs ETC
*/
:root {
  --body-font: "Nunito", Helvetica, Arial, sans-serif;
  --title-font: "Saira", Helvetica, Arial, sans-serif;
  --color-primary: #50BEC2;
  --color-dark-grey: rgba(255, 255, 255, 0.1);
  --font-body: "Nunito", sans-serif;
  --font-title: "Saira", sans-serif;
  --section-wrap-width: 1500px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #e2e2e2;
}

p {
  font-size: 1.2rem;
  color: rgb(169, 166, 166);
}
@media only screen and (max-width: 540px) {
  p {
    text-align: justify;
    font-size: 1.6rem;
  }
}

input::placeholder,
textarea::placeholder {
  font-family: var(--font-title);
  opacity: 0.4;
  color: #e2e2e2;
  text-transform: uppercase;
}

html {
  scroll-behavior: smooth;
}
@media only screen and (min-width: 1201px) {
  html {
    font-size: 80%;
  }
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 1068px) {
  html {
    font-size: 55%;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 55%;
  }
}

/* Animations */
@keyframes bounceDown {
  0%, 20%, 50%, 80%, 100% {
    transform: translate(-50%, 0);
  }
  40% {
    transform: translate(-50%, 5px);
  }
  60% {
    transform: translate(-50%, 3px);
  }
}
@keyframes arrowOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}