/* import main fonts */
@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*
0-600px: Phone
600-900px: Tablet Portrait Mode
900-1200px: Tablet Landscape Mode
1200-1800px: Normal styles
1800px+: Large TVs ETC
*/
:root {
  --body-font: "Nunito", Helvetica, Arial, sans-serif;
  --title-font: "Saira", Helvetica, Arial, sans-serif;
  --color-primary: #50BEC2;
  --color-dark-grey: rgba(255, 255, 255, 0.1);
  --font-body: "Nunito", sans-serif;
  --font-title: "Saira", sans-serif;
  --section-wrap-width: 1500px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #e2e2e2;
}

p {
  font-size: 1.2rem;
  opacity: 0.6;
}

input::placeholder,
textarea::placeholder {
  font-family: var(--font-title);
  opacity: 0.4;
  color: #e2e2e2;
  text-transform: uppercase;
}

/*
0-600px: Phone
600-900px: Tablet Portrait Mode
900-1200px: Tablet Landscape Mode
1200-1800px: Normal styles
1800px+: Large TVs ETC
*/
html {
  scroll-behavior: smooth;
}
@media only screen and (min-width: 1200px) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 60%;
  }
}
@media only screen and (max-width: 1068px) {
  html {
    font-size: 55%;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 55%;
  }
}

/* Animations */
@keyframes bounceDown {
  0%, 20%, 50%, 80%, 100% {
    transform: translate(-50%, 0);
  }
  40% {
    transform: translate(-50%, 5px);
  }
  60% {
    transform: translate(-50%, 3px);
  }
}
@keyframes arrowOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}